#root{
  margin:20px 32.5px 0;
}
body{
  margin: 0;
}




/* h1{
  font-family:'Inter', sans-serif;
  font-weight: 500;
} */
/* 
############################################# NAVBAR ################################## */

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.links ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.links  a{
  font-family: "Inter",sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  border-color: none;
  color: black;

}

.logo-img{
  width: 190px;
}

.registerButton{
  background-color: #e6e6e6;
  color: #000;
  height: 10vh;
  display: flex;
  font-family:'Inter', sans-serif;
  font-weight: 100;
  border-radius: 6px;
  padding: 10px 22px;
  border: none;
  align-items: center;
  justify-content: center;
}


/* ############################################# MIDDLE SECTION ################################## */
.lens{
  position:absolute;
  z-index: -1;
  top: 58%;
  left: 3px;
  height: 215px;
  width: 215px;
}
.middle-sec{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  
}
.middle-sec div{
  display: flex;
  justify-content: left;
  width: 50%;
  flex-direction: column;
  margin-top: 0;
}
.middle-sec div h1:nth-child(1){
 font-weight: 600;
 font-family: 'Kumbh Sans', sans-serif;
  font-size:78px;
  margin: 0;
}
.middle-sec div h1:nth-child(1){
 font-weight: 600;
 font-family: 'Kumbh Sans', sans-serif;
  font-size:78px;
  margin: 0;
}
.middle-sec div h1:nth-child(2){
  font-weight: 700;
  font-family: 'Kumbh Sans', sans-serif;
   font-size:78px;
   margin: 0;
}
.middle-sec div h1:nth-child(3){
  font-weight: 900;
  font-family: 'Inter', sans-serif;
   font-size:78px;
   margin: 0;
}

.middle-sec input{
  margin-top: 30px;
  border-radius: 81px;
  padding: 10px;
  border: 2px solid #7D7D7D;
}
.middle-sec img{
  width: 50%;
  height: 70vh;
}
/* ############################################# BOTTOM SECTION ################################## */
.card-line{
   display: flex;
   flex-direction:row;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   border: 5px 0;
   font-family: 'Roboto', sans-serif;
}
h5{
  margin: 0;
}
.card img{
  width: 120%;
}
.card:hover{
  position: relative;
  z-index: 2;

}
.card-text{
  padding: 8px;
}
.viewMore{
  background-color: #F09173;
  border-radius: 15px;
  width:200px;
  text-align: center;
  justify-content: center;
   box-shadow:0px 4px 4px 0px #000;
}
.viewMore h4{
  margin-top: 50%;
}
.status1{
  color: white;
  position: absolute;
  margin: 1%;
  font-size: 25px;
  background-color: #FF6060;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;

}



/* ############################################ Add Items ##################################3 */
.form{
  display: flex;
  flex-direction:column ;
  width: 50%;
}
.form div{
  display: flex;
  flex-direction: row;
  width: 100%;  
  margin-bottom: 25px;
}

.btn{
  margin-right: 20px;
  padding: 10px;
  border-radius:15px;
  width: 25%;
  font-family: 'Inter',sans-serif;
  font-weight: 900;
  border: #fff;
  box-shadow: 0px 5px 5px grey;
}
.btn1-active{
  margin-right: 20px;
  padding: 10px;
  border-radius:15px;
  width: 25%;
  font-family: 'Inter',sans-serif;
  font-weight: 600;
  color: #fff;
  border: 2px solid black;
   background-color: #FF6060;
}
.btn2-active{
  margin-right: 20px;
  padding: 10px;
  border-radius:15px;
  width: 25%;
  font-family: 'Inter',sans-serif;
  font-weight: 900;
  color: #fff;
  border: 2px solid black;
  background-color: rgb(39, 63, 4);
}
.submitBtn{
  width: 60%;
  background:linear-gradient(155deg,#57A6D6 30%,#B455D6 100%);
  height: 50px;
  border-radius: 15px;
  font-size:20px ;
  align-items: center;
  color: #fff;
  font-weight: 200;
  font-family:'Inter', sans-serif;
  margin-top: 20px;

}


.form .textbox{
  width: 500px;
  height: 40px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid black;

}

.addImgDiv{
  display: flex;
  flex-direction:column;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 15px;
  
}
.btnDiv{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
}
.itemAdd{
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding: 20px;
}
#file{
display: none;
}
/* ############################################ Add Items ##################################3 */